Checks:
  - modernize-loop-convert
  - modernize-raw-string-literal
  - modernize-redundant-void-arg
  - modernize-replace-auto-ptr
  - modernize-replace-random-shuffle
  - modernize-return-braced-init-list
  - modernize-shrink-to-fit
  - modernize-unary-static-assert
  - modernize-use-auto
  - modernize-use-default-member-init
  - modernize-use-emplace
  - modernize-use-noexcept
  - modernize-use-transparent-functors
  - modernize-use-using
  - modernize-use-nullptr
