* text=auto eol=lf
dependencies/** linguist-vendored
Lib_OpenMPI/** linguist-vendored
Lib_OpenCL/** linguist-vendored
Lib_OpenCL_CPP/** linguist-vendored
Libs-glfw-glad-opengl/** linguist-vendored
Libs-glfw-glad-opengl-imgui/** linguist-vendored
Libs-sdl2-glad-opengl/** linguist-vendored
Libs-sdl2-glad-opengl-imgui/** linguist-vendored
Comp-emscripten-glfw-opengles/** linguist-vendored
Comp-emscripten-glfw-opengles-imgui/** linguist-vendored
Comp-emscripten-sdl2-opengles/** linguist-vendored
Comp-emscripten-sdl2-opengles-imgui/** linguist-vendored
Comp-emscripten-react/** linguist-vendored